body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 80%;
    text-align: center;
    color: white;
    
}
 
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: stretch;
}
 
header, footer {
    background-color: #FF6B6B;
    padding: 20px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 0 15px black;
    border-radius: 20px;
}
 
.content {
    flex-grow: 1;
    display: flex;
}
 
.nav, .side {
    flex: 0 0 200px;
    background-color: #FFD166;
    margin: 10px;
    color: black;
    box-shadow: 0 0 15px black;
    border-radius: 20px;

}
 
.main {
    flex-grow: 1;
    background-color: #AE81FF;
    margin: 10px;
    box-shadow: 0 0 15px black;
    border-radius: 20px;
}
h1{
    color: black;
    margin: 0px;
}
.borda{
    border: 2px solid black;
    margin: 10px; 
}